 {% extends "lab_4/layout/base.html" %}

    {% block content %}
    {% load staticfiles %}
    <center><img class="img-circle" src="http://2.bp.blogspot.com/_ZMwefPUQUBA/TPCtHjwCvDI/AAAAAAAAAA8/cLczPmVB89M/s1600/fikar.jpg" alt="My image" width="150" height="150"></center>
    <h1>Portofolio</h1>
    <hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>febrian fikar farras</p>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>

    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>


    {% endblock %}
