{% extends "lab_10/layout/base.html" %}

{% block content %}
<!-- Content Here -->
<section id="data-dashboard">
    <div class="panel panel-default">
        <div class="panel-heading" style="background: url(http://www.tmwallpaper.com/mod/backgrounds/1920x1080/background-wide-wallpaper-1920x1080-036.jpg);">
            <h2 id="fontdashboard"> Dashboard </h2>
        </div>
        <div class="panel-body" style="background: url(https://media.giphy.com/media/SqYxOimA9HbHO/source.gif) no-repeat right;">
            <p id="nama"> Username : {{ author }} </p>
            <p id="npm"> NPM : {{kode_identitas}} </p>
            <p id="rolasi"> Role : {{ role }} </p>
            <p class="linksss">
                <a href="{% url 'lab-10:movie_list' %}" > <span style="cursor: wait;"> Daftar Movie </span> </a> |
                <a href="{% url 'lab-10:list_watch_later' %}"> <span style="cursor: wait;"> Daftar Watch Later </span></a>
            </p>
        </div>
        <div class="panel-footer">
            <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
                Logout </a>
        </div>
    </div>
</section>
<hr>

{% endblock %}