{% extends "lab_9/layout/base.html" %}
{% block content %}
<title>
        {% block title %}Login Page{% endblock %}
</title>
<div class="row">
    <div class="x">
        <div class="rata-tengah">
            <div class="judul">
                <h1> Hola... </h1>
            </div>
            <div class="bagus">
	            <form action="{% url 'lab-9:auth_login' %}" method="POST">
	                {% csrf_token %}
	                <p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
	                <p>
	                    <label id="xx" for="username"> Your username </label>
	                    <input type="text" id="username" name="username" required>
	                </p>
	                <p>
	                    <label id="ax" for="password"> Your password </label>
	                    <input type="password" id="password" name="password" required>
	                    <input id="login" type="submit" class="btn btn-primary" value="Login">
	                </p> 
	            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}