{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 10">
    <meta name="author" content="{{author}}">

    <!-- Bootstrap CSS -->
    <!-- JQuery dataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Own CSS -->
    <link href="{% static 'css/lab_10.css' %}" rel="stylesheet">
    <style>
        #myFooter{
            padding-top:32px;
        }

        #myFooter .container{
            text-align: center;
            margin-top: 10px;
        }

        #myFooter .footer-copyright{
            margin-bottom: 35px;
            text-align: center;
            color: #777;
        }


        #myFooter a{
            color: #282b2d;
            font-size: 18px;
        }

        #myFooter li{
            display: inline-block;
            margin: 0px 15px;
            line-height: 2;
        }

        #myFooter .footer-social{
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #eee;
        }

        #myFooter .fa{
            font-size: 16px;
            margin-right: 15px;
            margin-left: 20px;
            background-color: white;
            color: #d0d0d0;
            border-radius: 51%;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 43px;
            text-decoration: none;
            transition:color 0.2s;
        }

        #myFooter .fa-facebook:hover{
           color: #2b55ff;
        }

        #myFooter .fa-facebook:focus{
            color: #2b55ff; 
        }

        #myFooter .fa-google-plus:hover{
            color:red;
        }

        #myFooter .fa-google-plus:focus{
            color:red;
        }

        #myFooter .fa-twitter:hover{
            color: #00aced;

        }

        #myFooter .fa-twitter:focus{
            color:#00aced;
        }

        #myFooter{
           flex: 0 0 auto;
           -webkit-flex: 0 0 auto;
        }
    </style>
    <title>
        {% block title %} Lab 10 By brian {% endblock %}
    </title>
</head>
<body>
    <header>
        <!-- Your Header Here -->
        <!-- templates/lab_5/partials/header.html -->
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'lab-10:index' %}">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav nav-right pull-right">
                <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
                <li><a href="{% url 'lab-10:list_watch_later' %}">Watch List</a></li>
              {% if login %}
                <li><a href="{% url 'lab-10:auth_logout' %}" onclick="return confirm('Keluar?')">Logout</a></li>
              {% endif %}
              </ul>
            </div>
        </nav>
    </header>
    <content>
        <div class="container">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages" style="color: white">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px; color: white">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}

            {% block content %}
            <!-- Your Content Here -->
            {% endblock %}
        </div>
    </content>
    <footer>
        <hr>
        <div id="myFooter">
            <div class="footer-social">
                <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="container">
                <p class="footer-copyright">© brian</p>
            </div>
        </div>
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- JQuery dataTables Script -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>
</html>